@font-face {
  font-family: odin;
  src: url("/res/Norse-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.bg-container {
  position: relative;
  background-image: url("/res/unsplash.jpg");
  background-position: center;
  background-size: contain;
  width: 40vw;
  height: 100vh;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(93, 90, 29, 0.261);
  top: 40vh;
}

.icon {
  width: 10vw;
}

h1 {
  font-size: 3rem;
  color: white;
  font-family: odin, roboto, arial, helvetica;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 166, 0, 0.194);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 60vw;
}

.text-wrapper {
  font-size: 1.3rem;
  width: 90%;
  padding-left: 3rem;
  line-height: 2rem;
}

.text2 {
  padding: 2rem 0 2rem;
}

.form-wrapper {
  background-color: white;
  width: 60vw;
  padding: 0rem 3rem 2rem;
  font-family: inherit;
}

.form-wrapper p {
  padding-left: 0rem;
  line-height: 6rem;
}

.form {
  position: relative;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  row-gap: 1.2rem;
}

form p {
  color: red;
  font-size: 0.8rem;
  font-family: inherit;
  position: absolute;
  left: 0.5rem;
  top: 11.5rem;
}

.form div {
  display: flex;
  flex-flow: column;
}

label,
input,
.submit-button {
  font-size: 1rem;
  padding: 5px 0 5px;
}

label {
  text-transform: uppercase;
}

input {
  border-radius: 5px;
  border-color: rgba(255, 166, 0, 0.319);
  text-indent: 5px;
}

input:focus {
  border-color: green;
}
.account-text {
  padding: 4rem 3rem 0;
}

.submit {
  position: absolute;
  top: 17rem;
  padding: 3px;
}

.submit-button {
  background-color: rgb(187, 217, 81);
  padding: 5px 20px 10px;
  font-family: inherit;
  border-radius: 5px;
  color: black;
  width: 200px;
}

a {
  color: green;
}

.imageowner {
  color: rgba(255, 255, 255, 0.619);
  font-family: Verdana, Arial, Helvetica, sans-;
  font-size: 0.75rem;
  position: absolute;
  bottom: 0;
  left: 25%;
}
